<!DOCTYPE HTML>
<html lang="en">
<title>Dashboard</title>
<head>
		<meta charset="utf-8">
	<title>Instancify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="../public/css/normalize.css" rel="stylesheet">
	<link href="../public/css/component.css" rel="stylesheet">
	<link href="../public/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="../public/css/style.css" rel="stylesheet">
	<link href="../public/color/default.css" rel="stylesheet">

	<link rel="shortcut icon" href="img/favicon.ico">
	<marquee style="border:RED 3px SOLID">Developers work in progresss</marquee>
</div>
</head>
<body>
	<!-- navbar -->
	<div class="navbar-wrapper">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h1 class="brand"><a href="index.html"><img src="../public/img/logo.png" width="80" height="80"></a></h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
								<li><a title="services" href="index.html">What we do</a></li>
							<li><a title="team" href="index.html">About Us</a></li>
							
							<li><a title="works" href="dashboard.html">Dashboard</a></li>
							<li><a title="blog" href="index.html">Team</a></li>
							<li><a title="contact" href="index.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>	
	</div>
                 <div>
		<img src="../public/img/dashboard.jpeg">

</body>
























</html>