<!DOCTYPE HTML>
<html lang="en">

<head>
		<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 -->
	<meta charset="utf-8">
	<title>Instancify</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="../public/css/normalize.css" rel="stylesheet">
	<link href="../public/css/component.css" rel="stylesheet">
	<link href="../public/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="../public/css/style.css" rel="stylesheet">
	<link href="../public/color/default.css" rel="stylesheet">

	<link rel="shortcut icon" href="img/favicon.ico">
	
</head>

<body>
	<!-- navbar -->
	<div class="navbar-wrapper">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
					<!-- Responsive navbar -->
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</a>
					<h1 class="brand"><a href="#"><img src="../public/img/logo.png" width="80" height="80"></a></h1>
					<!-- navigation -->
					<nav class="pull-right nav-collapse collapse">
						<ul id="menu-main" class="nav">
								<li><a title="services" href="#services">What we do</a></li>
							<li><a title="team" href="#about">About Us</a></li>
							
							<li><a title="works" href="dashboard.html">Dashboard</a></li>
							<li><a title="blog" href="#blog">Team</a></li>
							<li><a title="contact" href="#contact">Contact</a></li>
					
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- Header area -->
	<div id="header-wrapper" class="header-slider">
		<header class="clearfix">
			<div class="logo">
				<img src="../public/img/main.png" alt="" />
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<div id="main-flexslider" class="flexslider">
							<ul class="slides">
								<li>
									<p class="home-slide-content">
										<strong>ProBots</strong> 
									</p>
								</li>
								
							
							</ul>
							<br><br><br><br><br><br><br><br><br>
						</div>
						<!-- end slider -->
					</div>
				</div>
			</div>
		</header>
	</div>
 
	
	 
	
	<!-- section: services -->
	<section id="services" class="section orange aligncenter ">
		<div class="container">
			<h4>Online Transport Management System
</h4>
			<!-- Four columns -->
			<p style="font-size: 25px;">
				Using this online transport management system we can montor and manage buses as well as traffic. Which currently on having all type of facilities is not being used properly and the citizens without participating in this will get results and their common problem will be solved.<br>
				

				<img src="../public/img/map.png">
				<label style="font-size: 25px;">Here we see the traffic ammount like where traffic is light and where its heavy.</label>
				<br><br>
				
				<img src="../public/img/sc2.png">
				<label style="font-size: 25px;">Here are the traffic stats of bus live location</label>

			</p>
		</div>
	</section>
	<!-- end section: services -->
	<!-- section: team -->
	<section id="about" class="section ">
		<div class="container">
			<h4>Features of Bus Management System</h4>
		
				<div class="row ">
					
						<h2><strong>Real Time Monitoring</strong></h2>
						<p>
							 An online transport management system will monitor bus positions using GPS like we are already using in CHALO APP. By using chalo app when we can track the position of bus then why we can not solve the problem of their being late Using this data we can contact driver and inform him the timings of bus. As well as our monitors on bus stop which tell the timing of bus we can put their real time data.<br>
							
						</p>
						<h2> <strong>Crowd Distribution</strong></h2>
						<p>
							As buses will reach on time at bus stops the crowd will be distributed in all buses and the buses will not get overloaded.
						</p>
					
				
					<h2><strong>Traffic Management</strong></h2>
						<p>
								Using gps monitoring and cctv footages of all traffic signals we can monitor the traffic and resolve the problem of over traffic. By diverting routes informing traffic police etc.
						</p>
						<h2><strong>Maintainance</strong></h2>
						<p>The Management System will keep the record of all the bus running on roads and have all their info and put their dates of maintainance If bus does not get fitted the bus will not run on roads.</p>
						
				

				</div>
			
			
	
		</div>
		<!-- /.container -->
	</section>
	<!-- end section: team -->
	<!-- section: works -->
	<!--  <section id="works" class="section orange">
		<div class="container clearfix">
			<h4>Our Works</h4>
			<!-- portfolio filter -->
			
			<!--
			<div class="row ">
				<div class="span12 aligncenter">
					<div id="portfolio-wrap center">

							<form action="/upload" method="POST" enctype="multipart/form-data">
								<div class="content">
										<div class="box">
												<input type="file" name="input" id="file-1" class="inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple />
												<label for="file-1"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg> <span>Choose a file&hellip;</span></label>
											</div>
											<button type="submit" class="btn">Submit</button>
								</div>






<!-- EMERGENCY SITUATION -->
								<!-- <div class="file-field input-field">
								  <div class="btn grey">
									<span></span>
									<input name="input" type="file">
								  </div>
								  <div class="file-path-wrapper">
									<input class="file-path validate" type="text">
								  </div>
								</div>
								<button type="submit" class="btn">Submit</button> -->
				<!--			  </form>
					
					</div>
				</div>
			</div>
		</div>
	</section>  -->
	<!-- spacer section 
	<section class="spacer bg3">
		<div class="container">
			<div class="row">
				<div class="span12 aligncenter flyLeft">
					<blockquote class="large">
						We are an established and trusted web agency with a reputation for commitment and high integrity
					</blockquote>
				</div>
				<div class="span12 aligncenter flyRight">
					<i class="icon-rocket icon-10x"></i>
				</div>
			</div>
		</div>
	</section>
	end spacer section -->
	<!-- section: blog -->
	<section id="blog" class="section">
		<div class="container">
			<h4>Our Team</h4>
			<div class="row">
				
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="" alt="" />
						<h3>Uddeshya Sharma</h3>
						<h6></h6>
						<p>
							Lead,Frontend Developer
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="" alt="" />
						<h3>Sudhanshu Kumar Singh</h3>
						<h6></h6>
						<p>
							Backend Developer
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="" alt="" />
						<h3>Amit Patel</h3>
						<h6></h6>
						<p>
							FrontEnd Developer, Backend Developer
						</p>
					</div>
				</div>
				<div class="span2 flyIn">
					<div class="people">
						<img class="team-thumb img-circle" src="" alt="" />
						<h3>Shivam </h3>
						<h6></h6>
						<p>
						Backend Developer
						</p>
					</div>
				</div>
			</div>
		</div>

	</section>

	<!-- end spacer section -->
	
	<footer>
		<div class="container">
			<div class="row">
				<div class="span6 offset3">
					<ul class="social-networks">
						<li><a href="#"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-twitter icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-dribbble icon-2x"></i></a></li>
						<li><a href="#"><i class="icon-circled icon-bgdark icon-pinterest icon-2x"></i></a></li>
					</ul>
					<p class="copyright">
						
						<div class="credits">
					
							Designed with <3 . Team ProBots.
			</div>

					</p>
				</div>
			</div>
		</div>
		<!-- ./container -->
	</footer>
	<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
	<script src="js/jquery.js"></script>
	<script src="js/jquery.scrollTo.js"></script>
	<script src="js/jquery.nav.js"></script>
	<script src="js/jquery.localScroll.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/isotope.js"></script>
	<script src="js/jquery.flexslider.js"></script>
	<script src="js/inview.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/custom.js"></script>
	<script src="contactform/contactform.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>

</html>
